<?xml version="1.0" encoding="UTF-8"?>
<gui name="oblaci"
     version="27"
     xmlns="http://www.kde.org/standards/kxmlgui/1.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0
                         http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd" >
 
  <MenuBar>
    <Menu name="file" >
      <text>Tools</text>
      <Action name="clear" />
      <Action name="print" />
      <Action name="list" />
      <Action name="postavke" />
    </Menu>
    <Menu name="obavijesti" >
      <text>N&amp;otify</text>
      <Action name="pokaz" />
      <Action name="balon" />
      <Action name="comments" />
      <Action name="groups" />
    </Menu >
     <Menu name="flickr" >
      <text>F&amp;lickr</text>
      <Action name="echotest" />
      <Action name="logintest" />
      <Action name="statphoto" />
      <Action name="statsum" />
      <Action name="frend" />
      <Action name="favorites" />
      <Action name="link" />
    </Menu >
    <Menu name="search" >
      <text>S&amp;earch</text>
      <Action name="osobne" />
      <Action name="tags" />
      <Action name="pools" />
    </Menu >
  </MenuBar>
 
  <ToolBar name="mainToolBar" >
    <text>Main Toolbar</text>
    <Action name="clear" />
    <Action name="balon" />
  </ToolBar>
 
</gui>
