[Desktop Entry]
Name=oblaci
Name[ast]=oblaci
Name[ca]=oblaci
Name[ca@valencia]=oblaci
Name[cs]=oblaci
Name[da]=oblaci
Name[de]=oblaci
Name[en_GB]=oblaci
Name[es]=oblaci
Name[et]=oblaci
Name[fi]=oblaci
Name[gd]=oblaci
Name[gl]=oblaci
Name[it]=oblaci
Name[ko]=oblaci
Name[nb]=oblaci
Name[nl]=oblaci
Name[nn]=oblaci
Name[pl]=oblaci
Name[pt]=oblaci
Name[pt_BR]=oblaci
Name[ru]=oblaci
Name[sk]=oblaci
Name[sl]=oblaci
Name[sr]=oblaci
Name[sr@ijekavian]=oblaci
Name[sr@ijekavianlatin]=oblaci
Name[sr@latin]=oblaci
Name[sv]=oblaci
Name[uk]=oblaci
Name[x-test]=xxoblacixx
Name[zh_CN]=oblaci
Name[zh_TW]=oblaci

Type=Service
Icon=plasma

X-KDE-ServiceTypes=Plasma/Wallpaper
X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Email=%{EMAIL}
X-KDE-PluginInfo-Name=org.kde.plasma.oblaci
X-KDE-PluginInfo-License=LGPLv2+
X-KDE-PluginInfo-Version=%{VERSION}
X-KDE-PluginInfo-Website=https://plasma.kde.org/
X-Plasma-MainScript=ui/main.qml
